# ── Backend API (AWS API Gateway) ──────────────────────────────────────
VITE_API_URL=https://lis0c4qiz0.execute-api.ap-southeast-1.amazonaws.com
VITE_USE_MOCK=false

# ── Amplify URL ─────────────────────────────────────────────────────────
VITE_AMPLIFY_URL=https://main.d2ykhh6couuz7m.amplifyapp.com
